<% content_for :title, "Вход" %>
<div class="center mdl-card mdl-cell mdl-cell--5-col mdl-shadow--8dp" style="min-height: 300px;">
  <% flash.each do |name, msg| %>
    <%= content_tag :div,
      msg.html_safe,
      class: "#{name} mdl-card__supporting-text meta meta--fill"
    %>
  <% end %>

  <%= form_tag logins_path, method: :post do %>
    <div class="top">
      <div class="original_text login">
        <div class="group">
          <%= text_field_tag :email, nil, required: true %>
          <span class="bar"></span>
          <%= label_tag :email, "Email" %>
        </div>
        <div class="group">
          <%= password_field_tag :password, nil, required: true %>
          <span class="bar"></span>
            <%= label_tag :password, "Пароль" %>
        </div>
      </div>
    </div>
    <div class="mdl-card__supporting-text meta meta--fill">
      <div>
        <button class="mdl-button mdl-js-button">
          Войти
        </button>
      </div>
      <div>
        <%= link_to 'Забыл пароль?', new_password_reset_path %>
      </div>
    </div>
  <% end %>
</div>
