<% content_for :title, "Telegram" %>
<div class="center mdl-card mdl-cell mdl-cell--5-col mdl-shadow--8dp password">
  <% flash.each do |name, msg| %>
    <%= content_tag :div,
      msg.html_safe,
      class: "#{name} mdl-card__supporting-text meta meta--fill"
    %>
  <% end %>

  <%= form_for @user, url: settings_telegram_update_path  do |f| %>
    <% if @user.errors.any? %>
      <% for message in @user.errors.full_messages %>
        <%= content_tag :div,
          message,
          class: "error mdl-card__supporting-text meta meta--fill"
        %>
      <% end %>
    <% end %>

    <div class="top">
      <div class="original_text login">
        <div class="group">
          <%= f.text_field :telegram_id, required: true %>
          <span class="bar"></span>
          <%= f.label :telegram_id, "Telegram ID" %>
        </div>
        <div class="group">
          <%= f.text_field :time_from, required: true, value: current_user.time_from.strftime("%H:%M") %>
          <span class="bar"></span>
          <%= label_tag :time_from, "Время с (UTC)" %>
        </div>
        <div class="group">
          <%= f.text_field :time_to, required: true, value: current_user.time_to.strftime("%H:%M") %>
          <span class="bar"></span>
          <%= label_tag :time_to, "Время до (UTC)" %>
        </div>
        <div class="group">
          <%= f.password_field :password, required: true %>
          <span class="bar"></span>
          <%= f.label :password, "Текущий пароль" %>
        </div>
      </div>
    </div>
    <div class="mdl-card__supporting-text meta meta--fill">
      <div>
        <button class="mdl-button mdl-js-button">
          Изменить
        </button>
      </div>
    </div>
  <% end %>
<end>
