<!DOCTYPE html>
<html>
<head>
  <title>DailyWords</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <%= link_to "DailyWords", root_path, class: "mdl-layout-title white-title" %>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <%= link_to "Все карточки", cards_path, class: "mdl-navigation__link" %>
        <a class="mdl-navigation__link" href="#">Добавить карточку</a>
      </nav>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">DailyWords</span>
    <nav class="mdl-navigation">
     <%= link_to "Все карточки", cards_path, class: "mdl-navigation__link" %>
     <a class="mdl-navigation__link" href="#">Добавить карточку</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <%= yield %>
    </div>
  </main>

  <div class="mdl-layout__obfuscator"></div>
</div>

</body>
</html>
